/* mystyle.css */
/* Resetting default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Setting a default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Styling the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 10px; 
}

header img{
    position: relative;
    float: left;
    margin-right: 20px;
    width: 60px;
    height: auto;
    margin-bottom: -5px;
}



/* Styling the navigation menu */
nav {
    background-color: #444;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styling the main content */
main {
    padding: 20px;
}

/* Styling images to be smaller */
img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust the maximum height as needed */
}

/* Styling text and image section */
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Ensure each section takes up 100% width */
}

/* Styling text content */
section p {
    flex-basis: calc(50% - 20px); /* Adjust the width of the text content */
    text-align: justify;
}

/* Styling image content */
section img {
    flex-basis: calc(50% - 20px); /* Adjust the width of the image content */
}

/* Styling the footer */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 10px 40px;
    height: 60vh;
    position: relative;
}

.footer-img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 180px;
    height: auto;
}


/* Centering the "Begin Your Journey to Become Closer to God" link */
.cta-button {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #080808; /* Adding white border */
    padding: 10px 20px;
    color: #080808;
    text-decoration: none;
    background-color: #cf6a6a;
}

.cta-button:hover{
    background: rgb(255, 255, 255);
}

/* Styling the "Book an Appointment" link */
.book-appointment {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000; /* Adding border */
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #cf6a6a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.book-appointment:hover{
    background: #ffffff;
}

#contact-email{
    position: absolute;
    top: 300px;
    bottom: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    color: #fff; /* Set color to match footer text */
    font-size: 14px; /* Adjust font size as needed */
}
#contact-number{
    position: absolute;
    top: 330px;
    bottom: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    color: #fff; /* Set color to match footer text */
    font-size: 14px; /* Adjust font size as needed */
}
#trademark{
    position: absolute;
    top: 360px;
    bottom: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    color: #fff; /* Set color to match footer text */
    font-size: 14px; /* Adjust font size as needed */
}



    